.post {
    width: 50%;
    /* background-color: black; */
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-container img {
    border-radius: 50%;
}

.userInfo {
    display: flex;
}

div.image-container {
    position: relative;
}

.image-container img {
    width: 100%; 
    height: 750px; 
    object-fit: cover;
    object-position: 80% 35%;
}

.image-container h2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
}